name: Auto Compiler Update (impl)

on:
  workflow_call:

env:
  TOKEN: ${{ secrets.RENOVATE_TOKEN }}

jobs:
  fetch-version:
    runs-on: rbln-sw-k8s-4c-32gb
    container:
      image: ${{ vars.DEV_CONTAINER_IMAGE }}
    outputs:
      compiler_version: ${{ steps.get_version.outputs.compiler_version }}
      need_pr: ${{ steps.check_pr_needed.outputs.need_pr }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: "dev"

      - name: Get compiler version
        id: get_version
        run: |
          CUR_VERSION=$(grep rebel_compiler_version .github/version.yaml | cut -d ':' -f2 | tr -d ' ')
          LATEST_VERSION=$( \
                            curl -s "${{ secrets.DEV_PKG_URL }}/rebel-compiler/json" | \
                            jq -r '.releases | keys | .[]' | \
                            grep prod | \
                            grep -v "latestumd" | \
                            python .github/scripts/parsing_latest_version.py
                          )
          echo "compiler_version=$LATEST_VERSION" >> $GITHUB_OUTPUT
          echo "cur_version=$CUR_VERSION" >> $GITHUB_OUTPUT

      - name: Check if PR needed
        id: check_pr_needed
        run: |
          if [ "${{ steps.get_version.outputs.cur_version }}" == "${{ steps.get_version.outputs.compiler_version }}" ]; then
            NEED_PR=false
          else
            NEED_PR=true
          fi
          echo "need_pr=$NEED_PR" >> $GITHUB_OUTPUT

  create-pr:
    runs-on: rbln-sw-k8s-4c-32gb
    container:
      image: ${{ vars.DEV_CONTAINER_IMAGE }}
    needs: fetch-version
    if: ${{ needs.fetch-version.outputs.need_pr == 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: "dev"

      - name: Change version.yaml
        run: |
          sed -i "s/^rebel_compiler_version:.*/rebel_compiler_version: ${{ needs.fetch-version.outputs.compiler_version }}/" .github/version.yaml

      - name: Create PR for updated files
        id: create-pr-step
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ env.TOKEN }}
          commit-message: "[pytest-full] [slack-report] dependency: Update dependency rebel-compiler to ${{ needs.fetch-version.outputs.compiler_version }}"
          title: "dependency: Update dependency rebel-compiler to ${{ needs.fetch-version.outputs.compiler_version }}"
          base: dev
          team-reviewers: rbln-sw/sw-generalization
          reviewers: rebel-jongho
