name: Deploy package to official PyPI

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  deploy:
    runs-on: rbln-sw-k8s-4c-32gb
    container:
      image: ${{ vars.DEV_CONTAINER_IMAGE }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          repository: rbln-sw/optimum-rbln
          fetch-depth: 0
          ref: ${{ inputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: uv sync --frozen --only-group deploy

      - name: Build package
        run: uv build

      # "uv publish" seems having problem, so use twine until it's fixed
      - name: Publish package
        run: |
          uv run --no-sync \
            twine upload \
            --verbose \
            -u __token__ \
            -p ${{ secrets.PKG_ORG_GATE }} \
            dist/*
