name: Publish CI container to Harbor

on:
  workflow_dispatch:
  push:
    branches:
      - dev
    paths:
      - uv.lock
      - pyproject.toml

permissions:
  contents: read

jobs:
  build-and-push:
    name: Build & Push
    runs-on: ubuntu-latest-rbln
    env:
      IMAGE_PATH: rebellions-sw/optimum-rbln
      DOCKERFILE: docker/ci/Dockerfile
      CONTEXT: .
      PLATFORMS: linux/amd64

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: "dev"
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.HARBOR }}
          username: ${{ secrets.REBEL_PYPI_USERNAME }}
          password: ${{ secrets.REBEL_PYPI_PASSWORD }}

      - name: Build and push (auto on dev lockfile change)
        uses: docker/build-push-action@v6
        with:
          context: ${{ env.CONTEXT }}
          file: ${{ env.DOCKERFILE }}
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: |
            ${{ secrets.HARBOR }}/${{ env.IMAGE_PATH }}:dev
            ${{ secrets.HARBOR }}/${{ env.IMAGE_PATH }}:sha-${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
          sbom: false


