name: Optimum-rbln / Full Test
on:
  workflow_call:
    inputs:
        rebel_compiler_version:
            description: "rebel_compiler version to run"
            required: true
            type: string
        ref:
            description: "ref to checkout"
            required: true
            type: string
    outputs:
        transformers_version:
            description: "Transformers version detected from pyproject.toml"
            value: ${{ jobs.get-hf-package-version.outputs.transformers_version }}
        diffusers_version:
            description: "Diffusers version detected from pyproject.toml"
            value: ${{ jobs.get-hf-package-version.outputs.diffusers_version }}

env:
  HF_USER_ID: ${{ secrets.MODEL_HUB_ID }}
  HF_AUTH_TOKEN: ${{ secrets.MODEL_HUB_ACCESS }}

jobs:
  check-compiler:
    uses: ./.github/workflows/rbln_check_compiler.yaml
    with:
        compiler_version: ${{ inputs.rebel_compiler_version }}
    secrets: inherit

  optimum-rbln-pytest:
    uses: ./.github/workflows/rbln_optimum_pytest.yaml
    with:
        ref: ${{ inputs.ref }}
        rebel_compiler_version: ${{ inputs.rebel_compiler_version }}
        test_level: "full"
        enable_hf_hub_tests: true
        fail_fast: false
    secrets: inherit

  get-hf-package-version:
    runs-on: rbln-sw-k8s-4c-32gb
    container:
      image: ${{ vars.DEV_CONTAINER_IMAGE }}
    outputs:
        transformers_version: ${{ steps.transformers.outputs.version }}
        diffusers_version: ${{ steps.diffusers.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            ref: ${{ inputs.ref }}
      - name: Get Transformers Version
        id: transformers
        run: |
            VERSION=$(grep -m 1 '"transformers==' pyproject.toml | sed -E 's/.*transformers[<>=]{2}([^",]+).*/\1/' || echo "not_found")
            echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Get Diffusers Version
        id: diffusers
        run: |
            VERSION=$(grep -m 1 '"diffusers==' pyproject.toml | sed -E 's/.*diffusers[<>=]{2}([^",]+).*/\1/' || echo "not_found")
            echo "version=$VERSION" >> $GITHUB_OUTPUT
