name: Optimum-rbln / Scheduled Test

on:
  schedule:
    # Run every day at 1 (16:00 UTC, 1:00am KST)
    - cron: '0 16 * * *'
  workflow_dispatch:

jobs:
  dispatch:
    uses: rbln-sw/optimum-rbln/.github/workflows/rbln_scheduled_test_impl.yaml@dev
    secrets: inherit
